@CHARSET "UTF-8";
#newMessage, #sendMessageButton {
	float: right;
}

#contentWrapper > div {
	float: left;
	width: 100%;
}

#receiverUsername, #messageContent {
	margin-bottom: 10px;
}

#sendMessageErrorMessageDiv {
	float: left;
}