@CHARSET "UTF-8";
#newMessage {
	float: right;
}

#contentWrapper > div {
	float: left;
	width: 100%;
}

#receiverUsername {
	/* width: 100%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #bdc3c7;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px; */
}