* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input, textarea {
	outline: none;
}

a {
	color: #16a085;
	text-decoration: none;
}

a:hover {
	color: #1abc9c;
}

a:focus {
	color: #2ecc71;
}

button {
	border: 0px;
	height: 30px;
	cursor: pointer;
}

.icon {
	width: 20px;
	height: 20px;
}

.clear {
	clear: both;
}