* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input, textarea {
	outline: none;
}

a {
	color: #16a085;
	text-decoration: none;
}

a:hover {
	color: #1abc9c;
}

.clear {
	clear: both;
}