#questionTitle {
	font-size: 1.5em;
}

#questionMetadata {
	color: #7f8c8d;
	line-height: 30px;
	font-size: 15px;
}

#questionMetadata > span {
	margin-right: 5px;
}

.userSignature {
	width: 70%;
	color: #7f8c8d;
}

.userName {
	font-weight: bold;
}

.userInfoDiv {
	height: 40px;
}

.userInfoDiv span {
	line-height: 30px;
}

.answerMetadata {
	float: right;
	color: #7f8c8d;
	height: 20px;
	font-size: 15px;
}

.replyCount:hover {
	cursor: pointer;
}

.replyDiv {
	border-bottom: 1px solid #bdc3c7;
	padding-bottom: 10px;
	padding-top: 10px;
}

#newAnswerTextArea {
	width: 100%;
	height: 20%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: #bdc3c7;
	border-radius: 3px;
}

.submitButton, #uploadImgButton {
	margin: 5px;
	background-color: #16a085;
}

.submitButton:hover, #uploadImgButton:hover {
	background-color: #1abc9c;
}

.submitButton {
	float: right;
	margin-right: 0px;
	color: white;
}

#uploadImgButton {
	float: left;
	margin-left: 0px;
}

.replyListDiv {
	position: relative;
	border: 1px solid #bdc3c7;
	border-radius: 3px;
	width: 90%;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.replyListDiv::before, .replyListDiv::after {
	content: "";
	position: absolute;
	right: 0.5ex;
	border-width: 5px;
	border-style: dashed dashed solid dashed;
}

.replyListDiv::before {
	top: -10px;
	border-color: transparent transparent #bdc3c7 transparent;
}

.replyListDiv::after {
	top: -8px;
	border-color: transparent transparent white transparent;
}

.replyData {
	float: left;
}

.replyDiv.new input {
	height: 30px;
	width: 100%;
	border: 1px solid #bdc3c7;
	border-radius: 2px;
	padding: 5px;
}

.replyDiv.new {
	border-bottom: 0px;
}

.replyTime {
	color: #bdc3c7;
	font-size: 15px;
}

.answer {
	margin-bottom: 10px;
}

.answer img {
	margin-top: 5px;
	margin-bottom: 5px;
}

#popularQuestionList div {
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#popularUserList {
	margin-top: 5px;
	margin-bottom: 5px;
}

.popularUser {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

.popularUser div {
	float: left;
	font-size: 12px;
}

