@charset "utf-8";
/* CSS Document */
/* Please write appropriate CSS at here, some code has been written for you. */

body{
	border: 0;
	font-size: 12.7px;
	background: transparent;
	font-family: 微软雅黑,宋体;
}

.content-wrapper{
	width: 960px;
	margin: 0 auto;
	line-height: 22px;
	padding-bottom: 30px;
}
a {
	text-decoration: none;
}
h1{
    border-bottom: 1px dashed #888888;
    font-size: 20px;
    padding: 20px 0;
}

h2{
	font-size: 17px;
	line-height: 22px;
	margin-top: 20px;
}
code {
	font-family: "Courier New", Courier, monospace;
	font-style: normal;
	background-color: #CCC;
	margin: 0 5px;
}

#notice {
	color: red;
}

span {
	color: red;
	font-weight: bold;
}

em {
	color: red;
	font-style: italic;
	border-bottom: 1px dotted red;
}

ul {
	list-style-type: none;
}

ul li {
	font-size: 14px;
	font-weight: bold;
}

li+li {
	font-style: italic;
}

li>strong {
	color: red;
}

.paragraph {
	background-color: #888888;
	width: 80%;
	margin: 0 auto;
	border: 1px dotted #444444;
	padding: 10px;
	text-indent: 2em;
}

#img_example {
	border: 2px solid #999999;
	margin: 10px;
	padding: 2px;
}

#table_example {
	font-size: 14px;
	color: black;
	line-height: 30px;
	text-align: center;
	border-collapse: collapse;
}

a:link {
	color: red;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}