@charset "utf-8";
/* CSS Document */

#wrapper {
	width: 1346px;
	min-width: 1346px;
	margin: auto;
}

#header {
	text-align: center;
	height: 50px;
	width: 100%;
	line-height: 50px;
	font-size: 25px;
	border-bottom: 1px dotted #333;
}

#middle-col {
	float: left;
	width: 540px;
	min-width: 540px;
	height: 493px;
}

.side-col {
	width: 100px;
	min-width: 100px;
	height: 493px;
	font-size: 2em;
	background-image: url(scroll.png);
}

#left-col {
	float: left;
	margin-left: 300px;	
	border-right: 3px dashed #333;
}

#right-col {
	float: right;
	margin-right: 300px;
	background-position-x: 100px;
	border-left: 3px dashed #333;
}

.side-col > p {
	width: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	font-family: 隶书;
}

#square {
	position: relative;
	width: 240px;
	height: 240px;
	padding: 20px;
	-moz-box-shadow: 0 0 20px #000;
	box-shadow: 0 0 20px #000;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 130px;
	margin-right: 130px;
}

.block {
	position: absolute;
}

.upper.left, .bottom.right {
	height: 160px;
	width: 80px;
}

.upper.right, .bottom.left {
	height: 80px;
	width: 160px;
}

.center {
	top: 100px;
	left: 100px;
	height: 80px;
	width: 80px;
	text-align: center;
	line-height: 80px;
}

.upper.left {
	top: 20px;
	left: 20px;
}

.upper.right {
	top: 20px;
	right: 20px;
}

.bottom.left {
	bottom: 20px;
	left: 20px;
}

.bottom.right {
	bottom: 20px;
	right: 20px;
}

.bottom.right > span {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.bottom.left > span {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.upper.right > span {
	position: absolute;
	right: 0px;
}

#square + p {
	margin-left: 15px;
	margin-right: 15px;
	text-indent: 2em;
}

.clear {
	clear: both;
}

#footer {
	width: 100%;
	height: 50px;
	text-align: center;
	border-top: 1px dotted #333;
	clear: both;
}
